<article class="container black rounded" style="margin-bottom: 40px;">
  <div class="row">
    <div class="col-md-4 text-center">
       <a href="/fine-chocolate"><%= image_tag 'fine-chocolate.png', style: "width: 100%; max-width: 300px;" %></a>
       <h3 style="padding: 10px">exquisite <a class="litup" href="/fine-chocolate">chocolate</a></h3>
    </div>
    <div class="col-md-4 text-center">
       <h1 class="tk-mittwoch glow" style="position: relative; top: -45px; color: white;">from Dalston</h1>
       <h3>an <%= link_to 'artist', dalston_artist_path %></a></h3>
      <a href="/magical-chocolate-flavours"><%= image_tag 'keiko.gif', style: "width: 100%; max-width: 300px;" %></a>
    </div>
    <div class="col-md-4 text-center">
      <a href="/magical-chocolate-flavours"><%= image_tag 'magical-flavours.png', style: "width: 100%; max-width: 300px;" %></a>
      <h3 style="padding: 10px">delicate <%= link_to 'flavours', delicate_flavours_path %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center black" style="padding: 0 0 20px 0;">
      <h3 class="text-center tk-mittwoch" style="font-size: 2.4em;">chocolate for <a href="#">adults</a> just <a href="">ask Keiko</a></h3>
    </div>
  </div>
</article>
