<article id="exquisite-chocolate" class="container black rounded" style="margin-bottom: 40px; padding: 20px;">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "making-chocolate-dalston-1.jpg", class: "img-responsive" %>
    </div>
    <div class="col-md-3 tk-mittwoch extra-dark">
       <span class="gold">Dark</span><br/>Belgium<br/><span class="cocoa">70% Cocoa</span>
    </div>
     <div class="col-md-3">
       <%= image_tag "making-chocolate-dalston-3.jpg", class: "img-responsive" %>
    </div>
     <div class="col-md-3 tk-mittwoch dark">
        <span class="gold">Milk</span><br/>Belgium<br/><span class="cocoa">70% Cocoa</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 tk-mittwoch milk">
      <span class="gold">Extra-dark</span><br/>Venezuala<br/><span class="cocoa">90% Cocoa</span>
    </div>
    <div class="col-md-3">
      <%= image_tag "making-chocolate-dalston-2.jpg", class: "img-responsive" %>
    </div>
    <div class="col-md-3 tk-mittwoch white">
      <span class="gold">White</span><br/>Belgium<br/><span class="cocoa">60% Cocoa</span>
    </div>
     <div class="col-md-3">
       <%= image_tag "making-chocolate-dalston-4.jpg", class: "img-responsive" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 call-to-action">
      <div>
      <span style="font-size: 1.6em;">Dalston Chocolate</span><br/>we make our own chocolate from the very best cocoa nibs:<br/><%= link_to 'E8 Chocolate', e8_chocolate_path %>, <%= link_to 'Dalston Tea Time', dalston_tea_time_path %> and <%= link_to 'Hot, Hot Hot Chocolate', hot_chocolate_path %>
      </div>
    </div>
  </div>
</article>
