<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dalston</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//use.typekit.net/jlp7rqi.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag('dcs-logo-circle.gif', size: '50x50'), root_path, class: 'navbar-brand' %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chocolate<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="divider"></li>
          <li><%= link_to 'Exquisite Chocolate', fine_chocolate_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'E8 Chocolate', e8_chocolate_path %></li>
          <li><%= link_to 'Dalston Tea Time', dalston_tea_time_path %></li>
          <li><%= link_to 'Hot, Hot, Hot Chocolate', hot_chocolate_path %></li>
        </ul>
      </li>
      <li><%= link_to 'Flavours', delicate_flavours_path %></a></li>
      <li><%= link_to 'Artist', dalston_artist_path %></li>
      <li><a href="#">Us</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div id="drop-shadow" >
  <div class="container">
    <div class="row" id="header">
      <div class="col-md-12 text-center">
         <h1 class="tk-mittwoch glow">Edible Art in Chocolate</h1>
         
      </div>
    </div>
  </div>
</div>

<div id="wrap">

<%= yield %>

</div><!-- end of div#wrap -->

<footer>
  <h1>Footer</h1>
</footer>

</body>
</html>
